.container {
  margin-top: 5px; /* Adjust the top margin as needed */
  margin-bottom: 5%; /* Adjust the bottom margin as needed */
  margin-left: auto;
  margin-right: auto;
  max-width: 50px; /* Adjust the max-width as needed */

  
}


.nav-link {
  margin-right: 20px;
}

.search-container {
  margin-top: 0%;
  margin-bottom: 0px;
  display: center;
 margin-right: auto;
  margin-left: auto;
  background: linear-gradient(45deg, #c9ddb7 25%, #dcdcdc 50%, #b4c4d7 75%);

}
.search-container input[type="text"] {
  margin-right: 40px;
}

.map-container {
  height: 450px;
  margin-bottom: 50px;
}

.search-history-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Add a higher z-index value */
}

.search-history-popup {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.search-history-popup h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.search-history-popup ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 10px;
}

.search-history-popup li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.search-history-popup button {
  margin-right: 10px;
}

.search-history-popup button:last-child {
  margin-right: 0;
}

.search-history-popup p {
  margin-bottom: 10px;
}

.search-history-popup button,
.search-history-popup p {
  font-size: 14px;
}

.search-history-popup button {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  background-color: #2196f3;
  color: #fff;
  cursor: pointer;
}

.search-history-popup button:hover {
  background-color: #1976d2;
}
.search-history-button {
  position: absolute;
  top: 100px;
  right: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  background-color: #2196f3;
  color: #fff;
  cursor: pointer;
  z-index: 999; /* Ensure the button is displayed above the map */
}

.search-history-button:hover {
  background-color: #1976d2;
}
body {
  padding: 20px;
  background-image: linear-gradient(45deg, #c9ddb7 25%, #dcdcdc 50%, #b4c4d7 75%);
}

.container {
  border: 1px solid #ccc;
  padding: 0px;
  
}
