.page-container {
    padding: 20px;
    border-radius: 5px;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1);
  }
  
  .features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  
  .feature {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
  }
  
  .feature h2 {
    margin-top: 0;
    font-size: 1.5rem;
  }
  
  .feature p {
    margin-bottom: 0;
  }
  
  .feature:last-child {
    grid-column: 1 / inherit;
  }
  
  h4 {
    margin-top: 0;
    font-size: 1.2rem;
    text-align: center;
  }
  