.form-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .form-input:focus {
    outline: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  }
  
  .form-textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .form-textarea:focus {
    outline: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  }
  
  .form-submit {
    text-align: center;
  }
  
  .form-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #124174;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .form-button:hover {
    background-color: #0056b3;
  }
  .form-button:active,
.form-button:focus {
  background-color: #ff8c006e;
}
