html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(45deg, #FFD699 25%, #AFAFAF 50%, #FFD699 75%); /* Updated colors */
  
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #FFD699; /* Light Tan */
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  animation: rotate-colors 8s infinite;
  text-align: center;
}

@keyframes rotate-colors {
  0% { color: #FFD699; } /* Light Tan */
  20% { color: #ADD8E6; } /* LightBlue */
  40% { color: #CFA8C4; } /* Muted Purple */
  60% { color: #2E8B57; } /* Sea Green */
  80% { color: #FFD699; } /* Light Tan */
}

.title-input {
  width: 100%;
  height: 40px;
  font-size: 20px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease;
  background-color: #f2f2f2; /* Light Tan */
}

.title-input:focus {
  outline: none;
  border-color: #2196f3;
  box-shadow: 0 0 5px rgba(33, 150, 243, 0.5);
}

.entry-textarea {
  width: 100%;
  height: 300px;
  font-size: 18px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  resize: none;
  transition: border-color 0.3s ease;
  background-color: #f2f2f2; /* Light Tan */
}

.entry-textarea:focus {
  outline: none;
  border-color: #2196f3;
  box-shadow: 0 0 5px rgba(33, 150, 243, 0.5);
}

.buttons-container {
  margin-top: 20px;
}

.save-button,
.clear-button,
.edit-button,
.delete-button,
.navigation-button,
.new-note-button {
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: 5px;
}

.save-button {
  background-color: #4caf50;
  color: #fff;
}

.save-button:hover {
  background-color: #45a049;
}

.clear-button {
  background-color: #ff9800;
  color: #fff;
}

.clear-button:hover {
  background-color: #e69138;
}

.edit-button {
  background-color: #2196f3;
  color: #fff;
}

.edit-button:hover {
  background-color: #1976d2;
}

.delete-button {
  background-color: #f44336;
  color: #fff;
}

.delete-button:hover {
  background-color: #d32f2f;
}

.journal-entries {
  margin-top: 5vh;
  text-align: left;
  margin-left: 0;
}

.journal-entries-card {
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  background-color: transparent;
  border: transparent;
  border-radius: 4px;
  box-shadow: transparent;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

.journal-entries-card h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.journal-entries-card ul {
  list-style-type: none;
  padding: 0;
}

.journal-entries-card li {
  margin-bottom: 10px;
}

.journal-entries-card li .entry-title {
  display: block;
  font-size: 18px;
  color: #2196f3;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.journal-entries-card li .entry-title:hover {
  color: #1976d2;
}

.entry-view-container {
  text-align: left;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f7f7f7;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.entry-view-container h1 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.entry-view-container p {
  font-size: 18px;
 
  line-height: 1.5;
  color: #333;
  margin-bottom: 20px;
}

.entry-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.navigation-button,
.new-note-button {
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.navigation-button {
  background-color: #2196f3;
  color: #fff;
}

.navigation-button:hover {
  background-color: #1976d2;
}

.new-note-button {
  background-color: #ccc;
  color: #333;
}

.new-note-button:hover {
  background-color: #bbb;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.star-rating-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.star-rating-title {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.star-rating-stars {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.star-rating-star {
  font-size: 36px;
  color: #ccc;
  cursor: pointer;
  transition: color 0.3s ease;
}

.star-rating-star:hover {
  color: #FFD700; /* Yellow */
}

.star-rating-submit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.star-rating-button {
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: 5px;
  background-color: #4caf50;
  color: #fff;
}

.star-rating-button:hover {
  background-color: #45a049;
}
